@import url(normalize.css);
body{
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}
.container{
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
  overflow: hidden;
}
header{
  background-color: #ffcd34;
  height: 76px;
  position: relative;
  padding: 10px 0;
}
header li{
  display: inline-block;
}
header a{
    text-decoration: none;
    padding: 10px 15px;
}
header li a{
  color: #000;
}
header .main-nav li a:hover {
  background-color: #ffe184;
}
.btn-order{
  background-color: #ffe184;
  padding: 10px 25px;
}
.column-left{
  float: left;
  margin-top: 20px;
  margin-top: 5px;
}
.column-right{
  float: right;
}
.stripe:after {
    content: "";
    display: block;
    bottom: 0;
    left: 0;
    height: 14px;
    width: 100%;
    background-image: linear-gradient(135deg, #ffcd34 35%, #000 35%, #000 65%, #ffcd34 65%);
    background-size: 35px 14px;
    position: absolute;
}
.logo-brand{
    font-size: 20px;
    color: #000;
    vertical-align: middle;
}
.main-nav{
  float: right;
  margin-left: 100px;
}
.center{
  text-align: center;
  height: 305px;
  position: relative;
}
.promo{
  background-image: url(../img/bg_mainpage.jpg);
  background-size: cover;
  padding: 100px 0 130px;
  color: #fff;
  position: relative;
}
.promo-title{
  font-size: 44px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
}
.promo-dsc{
  font-size: 20px;
  color: #e1e1e1;
  width: 640px;
  margin: 0 auto;
  font-weight: normal;
}
.promo-btn{
    border: 3px solid #ffcd34;
    padding: 10px 25px 10px 20px;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    display: block;
    width: 215px;
    margin: 0 auto;
    margin-top: 17px;
}
.promo-btn:after{
  content: "";
  display: inline-block;
  width: 13px;
  height: 19px;
  background-image: url(../img/arrow.png);
  -webkit-background-size: 100%;
  background-size: 100%;
  vertical-align: middle;
  margin-left: 15px;
}
.promo-btn:hover{
  border: 3px solid #a1915a;
}
.promo-btn:focus{
  border: 3px solid #ffe390;
}
.feedback{
  background-color: #202e3b;
}
.feedback-fl{
  border: none;
  padding: 0;
  margin: 0;
  margin: 35px auto 40px;
}
.feedback-title{
  color: #ffcd34;
  font-size: 24px;
  margin-bottom: 40px;
}
.feedback-fl input{
  padding: 10px 20px;
  color: #fff;
  background-color: #202e3b;
  border: 2px solid #ffcd34;
  margin-right: 20px;
}
.feedback-fl input::-webkit-input-placeholder {
    color: #fff;
}
input:focus{outline:none;}
.feedback-fl select{
  padding: 9px 20px;
  margin-right: 20px;
  color: #fff;
  background-color: #202e3b;
  border: 2px solid #ffcd34;
  height: 45px;

}
select:after{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #ffcc34 transparent transparent transparent;

}
select:focus{outline:none;}
input.feedback-btn{
  color: #202e3b;
  padding: 8px 20px;
  font-size: 18px;
  background-color: #ffcd34;
  font-weight: bold;
}
.feedback-btn:hover{
  background-color: #ffd966;
}
.feedback-btn:active{
  background-color: #f6bf16;
}
input:focus{outline:none;}

.advantages{
  background-color: #fff;
}

.row{
  margin-left: -10px;
  margin-right: -10px;
}
div[class*="column"]{
  float: left;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.column3 {
    width: 25%;
}
.advantages-item{
  font-size: 13px;
  display: inline-block;
  vertical-align: middle;
}
.advantages-item p{
  width: 165px;
  float: right;
}
.item-1{
  background-image: url(../img/advantages_item1.png);
  background-repeat: no-repeat;
  background-position: 0 30px;

}
.item-2{
  background-image: url(../img/advantages_item2.png);
  background-repeat: no-repeat;
  background-position: 0 30px;
}
.item-3{
  background-image: url(../img/advantages_item3.png);
  background-repeat: no-repeat;
  background-position: 0 30px;
}
.item-4{
  background-image: url(../img/advantages_item4.png);
  background-repeat: no-repeat;
  background-position: 0 30px;
}
.offer{
  position: relative;
  padding: 25px 0 55px;
  background-color: #f3f3f3;
}
.offer ul{
  margin: 0;
  padding: 0;
}
.offer ul li{
  padding-top: 25px;
  list-style-type: none;
}
.offer ul li:first-child{
  padding-top: 0;
}
.offer ul li a{
  color: #202e3b;
  font-size: 16px;
}
table{
  width: 100%;
  border-collapse: collapse;
}
th{
  text-align: left;
  background-color: #dfdfdf;
}
.offer-table td, th{
  padding: 10px 15px;
}
.offer-table th{
  padding: 10px 15px;
}
.offer-table tr:nth-child(2n){
  background-color: #fff;
}
.about{
  position: relative;
  background-color: #202e3b;
}
.achivements{
  width: 260px;
  float: left;
}
.achivements h2{
  font-size: 26px;
  color: #fff;
  font-weight: normal;
}
.achivements ul{
  margin-top: 40px;
  padding: 0;
}
.achivements ul li{
  float: left;
  list-style-type: none;
  color: #9e9e9e;
  margin-top: 35px;
  font-size: 18px;
}
.achivements ul li:first-child{
  margin-top: 0;
}
.numb{
  font-size: 38px;
  color: #f1b132;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
}
.reviews{
  float: right;
  width: 620px;
  margin-bottom: 50px;
}
.reviews h2{
  font-size: 26px;
  color: #fff;
}
.comment{
  margin-top: 40px;

}
.comment img{
  border: 3px solid #f1b132;
  border-radius: 3px;
}
.comment-inner{
  float: right;
  width: 480px;
}
.comment-inner p{
  margin-top: -5px;
  font-size: 18px;
  color: #fff;
}
.username{
  font-size: 18px;
  color: #f1b132;
}
.map{
  height: 500px;
  width: 100%;
}
.page-footer {
  padding: 20px 0 15px;
  background-color: #202e3b;
  position: relative;
}
.logo-foot{
  margin-top: 10px;
}
.page-footer a{
  text-decoration: none;
}
.logo-img{
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.logo-footer-brand{
  color: #ffcd34;
  text-decoration: none;
  font-size: 24px;
}
footer li{
  display: inline-block;
}
.footer-nav li a{
  padding: 10px 20px;
  color: #fff;
}
.footer-nav li a:hover{
  border: 3px solid #636d76;
}
.footer-nav li a:active{
  border: 3px solid #a6abb1;
}
/*contacts*/
.subheader{
  height: 105px;
  background-image: url(../img/subheader-bg.jpg);
  background-size: cover;
  position: relative;
}
.sub-contacts{
  width: 400px;
  float: left;
  display: inline-block;
  position: relative;
  margin-top: 25px;
}
.sub-contacts h1{
  width: 110px;
  float: left;
  font-size: 26px;
  color: #ffcd34;
  font-weight: normal;
}
.sub-contacts p{
  width: 290px;
  float: right;
  font-size: 16px;
  color: #fff;
  position: absolute;
  top: 10px;
  left: 120px;
}
.sub-consult{
  width: 240px;
  float: right;
}
.sub-btn{
  padding: 15px 20px;
  background-color: #ffcd34;
  text-decoration: none;
  font-size: 18px;
  color: #202e3b;
  font-weight: bold;
  position: absolute;
  top: 30px;
}
.order{
  background-color: #f3f3f3;
  padding: 40px 0 50px;
}
.google-map{
  width: 620px;
  float: left;
}
.order-form{
  width: 300px;
  float: right;
}
.order-info{
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}
.order-info:first-child{
  margin-top: 0;
}
.phone:before{
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../img/phone_icon.png);
  background-size: cover;
  vertical-align: middle;
  margin-right: 20px;
}
.mail:before{
  content: " ";
  display: inline-block;
  width: 27px;
  height: 20px;
  background-image: url(../img/mail_icon.png);
  background-size: cover;
  margin-right: 20px;
}
.order-form p{
  font-size: 16px;
  color: #000;
  margin-top: 5px;
}
.order-form input{
  border: 1px solid #d5d5d5;
  padding: 12px;
  margin-top: 10px;
  font-size: 16px;
  width: 100%;
}
.order-form input:first-child{
  margin-top: 0;
}
.order-form textarea{
  width: 94%;
  border: 1px solid #d5d5d5;
  margin-top: 10px;
  padding: 12px;
  resize: none;
}
.order-form textarea:focus { outline: none; }
.offer-btn{
  width: 300px;
  background-color: #354b60;
  font-size: 16px;
  color: #fff;
}
.reviews {
    padding: 30px 0;
}

.reviews h2 {
  margin-bottom: 15px;
  color: #202e3b;
  font-size: 26px;

}
.reviews-item img {
  margin-bottom: 15px;
  border-radius: 50%;
}

.reviews-item blockquote {
  color: #202e3b;
  font-size: 14px;
  font-style: italic;
}

.reviews-item cite {
  margin-top: 10px;
  font-style: normal;
  font-weight: bold;
  display: block;
}
.port-subheader{
  background-image: url(../img/bg_portfolio.jpg);
  background-size: cover;
  background-position-y: bottom;
  height: 105px;
  position: relative;
}
.sub-title{
  width: 130px;
  float: left;
  font-size: 26px;
  color: #ffcd34;
  font-weight: normal;
  margin-top: 30px;
}
.sub-nav{
  float: right;
  margin-top: 25px;
}
.sub-nav li{
  display: inline-block;

}
.sub-nav li a{
  color: #fff;
  font-size: 16px;
  margin-left: 40px;
}
.sub-nav li a:hover{
  font-weight: bold;
}
.sub-nav li a:active{
  text-decoration: none;
  font-weight: bold;
}
.black-stripe:after{
  content: "";
  display: block;
  bottom: 0;
  left: 0;
  height: 10px;
  width: 100%;
  background-color: #000;
  position: absolute;
}
.house{
  position: relative;
  height: 500px;
}
.house-1{
  background-image: url(../img/house-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -270px;
}
.house-2{
  background-image: url(../img/house-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -270px;
}
.house-3{
  background-image: url(../img/house-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -270px;
}
.house-inner{
  position: absolute;
  padding: 30px;
  background-color: #fff;
  top: 100px;
  left: 170px;
}
.house-inner h2{
  margin: 0 auto 15px;
  width: 350px;
}
.house-inner p{
  margin-bottom: 30px;
  font-size: 14px;
  color: #202e3b;
  width: 300px;
}
.inner-btn{
  padding: 10px 25px 10px 15px;
  background-color: #ffcd34;
  font-size: 15px;
  font-weight: bold;
  color: #1d333f;
  text-decoration: none;
}
.inner-btn:hover{
  background-color: #ffd966;
}
.inner-btn:active{
  background-color: #f6bf16;
}
.inner-btn:after{
  content: "";
  display: inline-block;
  width: 13px;
  height: 19px;
  background-image: url(../img/port-arrow.png);
  background-size: 100%;
  vertical-align: bottom;
  margin-left: 10px;
}
/* catalog */
.cat-subheader{
  position: relative;
  background-image: url(../img/bg_catalog.jpg);
  background-size: cover;
}
.about-catalog{
  width: 605px;
  float: left;
}
.about-catalog h1{
  font-size: 25px;
  font-weight: normal;
  color: #ffcd34;
  margin-bottom: 20px;
  margin-top: 50px;
}
.about-catalog p{
  font-size: 16px;
  color: #fff;
  margin-bottom: 50px;
}
.conuslt{
  margin-top: 60px;
  width: 240px;
  float: right;
}
.conuslt-popup{
  font-size: 18px;
  text-decoration: none;
  color: #202e3b;
  background-color: #ffcd34;
  font-weight: bold;
  padding: 15px 20px;
}
.conuslt-popup:hover{
  background-color: #ffd966;
}
.conuslt-popup:active{
  background-color: #f6bf16;
}

.conuslt p{
  font-size: 16px;
  color: #fff;
  margin-top: 25px;
}
.technic-cat{
  position: relative;
}
.technic-cat h2{
  font-size: 26px;
}
.technic-cat h2:before{
  content: '';
  display: inline-block;
  width: 31px;
  height: 24px;
  background-image: url(../img/truck.png);
  background-size: 100%;
  margin-right: 15px;
}
.technic-cat ul{
  margin: 0;
  padding: 0;
}
.technic-cat li{
  margin-top: 25px;
}
.technic-cat a{
  font-size: 16px;
  color: #353535;
}
.active{
  text-decoration: none;
  font-weight: bold;
}
.active:before{
  content: '';
  display: inline-block;
  width: 7px;
  height: 11px;
  background-image: url(../img/aside-arrow.png);
  background-size: 100%;
  margin-right: 10px;
}
.pdf{
  color: #fff !important;
  padding: 10px 15px 10px 15px;
  background-color: #354b60;
  font-size: 16px !important;
  text-decoration: none;
}
.pdf:hover{
  background-color: #46617a;
}
.pdf:active{
  background-color: #567999;
}
.pdf:before{
  content: '';
  display: inline-block;
  width: 17px;
  height: 18px;
  background-image: url(../img/download.png);
  background-size: 100%;
  margin-right: 12px;
}
.catalog{
  background-color: #f3f3f3;
  position: relative;
}
.rent-technihcs{
  margin-left: 80px !important;
  margin-top: 10px;
}
.rent-technihcs-item{
  display: inline-block;
  background-color: #fff;
  margin-top: 20px;
  padding: 25px 30px;
  position: relative;
}
.rent-technihcs-item:nth-child(2n){
  margin-left: 20px;
}
.rent-technihcs-item h3{
  width: 200px;
}
.price{
  display: block;
  font-weight: bold;
  font-size: 27px;
  color: #000;
  margin: 40px auto 20px;
}
.button-group{
  font-size: 0;
  text-align: center;
}
.button-group a{
  text-align: center;
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 20px;
  color: #fff;
  background-co
}
.button-yellow a{
  background-color: #f3c331;
}
.button-yellow a:hover{
  background-color: #ffd966;
}
.button-yellow a:active{
  background-color: #ffc600;
}
.button-blue a{
  background-color: #354b60;
}
.button-blue a:hover{
  background-color: #46617a;
}
.button-blue a:active{
  background-color: #567999;
}
.button-yellow, .button-blue{
  float:left;
}
.new:after{
  content: '';
  display: block;
  width: 73px;
  height: 72px;
  background-image: url(../img/ribb.png);
  position: absolute;
  top: 0;
  right: 0;
}
.pages{
  margin: 45px 0 45px 290px;
}
.pages li{
  display: inline-block;
  font-size: 16px;
}
.pages li a{
  border: 1px solid #f3f3f3;
  text-decoration: none;
  padding: 3px 9px;
  border-radius: 3px;
}
.pages li a:hover{
  border: 1px solid #9aa5af;
}
.pages li a:active{
  border: 1px solid #354b60;
}
.active-page{
  color: #fff;
  background-color: #354b60;
}
.catalog-deals-inner{
  float: right;
}
.deals-technihcs-item{
  display: inline-block;
  background-color: #fff;
  margin-top: 20px;
  padding: 25px 30px;
  position: relative;
  margin-right: 25px;
}
.deals-technihcs-item:last-child{
  margin-right: 0;
}
.deals-technihcs-item h3{
  width: 200px;
}
.catalog-deals {
  position: relative;
  padding: 10px 0 40px;
  background-image: url(../img/catalog_bg.jpg);
  background-size: cover;
}
.catalog-deals h2 {
  font-size: 16px;
  margin-bottom: 20px;
  font-size: 28px;
  color: #fff;
}
.deal-price{
  font-size: 22px;
  display: block;
  color: #000;
  margin: 40px auto 20px;
}
.old-price{
  color: #d12222;
  text-decoration: line-through;
}
.sale:after{
  content: '';
  display: block;
  width: 71px;
  height: 69px;
  background-image: url(../img/sale-diff.png);
  position: absolute;
  top: 0;
  right: 0;
}
/* styleguide */

.active-page-h{
  font-weight: bold;
}
.about-reviews{
  margin-bottom: 50px;
  margin-left: 50px;
}
.about-reviews h2{
  color: #fff;
  margin-top: 12px;
}
.about-reviews-item img {
    margin-right: 20px;
    max-width: 120px;
    border: 3px solid #f1b132;
    border-radius: 3px;
}

.about-reviews-item {
    margin-bottom: 35px;
    position: relative;
}

.about-reviews-item blockquote {
  width: 75%;
  color: #fff;
  font-size: 18px;
  font-style: italic;
  vertical-align: top;
  position: absolute;
  top: 0;
  left: 102px;
}

.about-reviews-item cite {
  font-style: normal;
}
.about-color-yellow {
    color: #f1b132;
    font-weight: bold;
}